body {
    background-color: #ffb4ec;
    color: #000000;
    font-family: Tahoma, Verdana, sans-serif;
  }
  body {
  margin: 0px;
   margin-top:60px;
}
nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffb4ec;
  color: white;
  overflow: auto;
  height: auto;
}
.left-links {
  flex: 1 1 200px;
}
.links {
  font-family: Tahoma;
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.links:hover {
  background-color: #fb84e3;
}
span {
  color: #ffb5f0;
}
  h1 {
    background-color: #fb84e3;
    color: #E2FFFF;
    line-height: 200%;
    font-family: Georgia, "Tahoma", serif;
    text-indent: 1em;
  }

  h2 {
    background-color: #ffffff;
    color: #f4c9db;
    font-family: Georgia, "Tahoma", serif;
    text-align: center;
  }

  nav {
    font-weight: bold;
    font-size: 1.25em;
    word-spacing: 1em;
  }

  nav a {
    text-decoration: none;
  }

  p {
    font-size: .90em;
    text-indent: 3em;
  }

  ul {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .feature {
    color: #000000;
  }

  footer {
    color: #333333;
    font-size: .75em;
    font-style: italic;
  }

  .company {
    font-weight: bold;
    font-family: Georgia, "Tahoma", serif;
    font-size: 1.25em
  }
  
  #our_schedule {
    width: 1000px;
  }